<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.wycfight.thankspring.modules.sys.mapper.SysRoleDeptMapper">
    <select id="queryDeptListByRoleId" resultType="long">
        SELECT dept_id FROM sys_role_dept WHERE role_id = #{roleId}
    </select>

    <delete id="deleteBatchByRoleIds"  parameterType="java.lang.Long">
        DELETE FROM sys_role_dept WHERE role_id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
</mapper>